@use '../foundation/color' as *;
@use '../foundation/base' as *;
@use '../foundation/mixin' as *;

.p-main-title {
  width: 100%;
  height: 28.5rem;
  background-image: url(../img/mainvisual-sp.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    color: white;
    font-family: "M PLUS 1p";
    font-size: 3.6rem;
    margin-left: per(25, 375);
  }
}

.p-main-title.archive {
  h2 {
    font-family: "Roboto";
  }
}

@include breakpoint(tablet) {
  .p-main-title {
    background-image: url(../img/mainvisual-pc.jpg);

    h2 {
      margin-left: per(86, 834);
    }
  }

  .p-main-title.archive {
    background-image: url(../img/mainvisual-three-burger.jpg);
    background-size: cover;
    background-position: center;
    height: 28.5rem;

    h2 {
      font-size: 6rem;
      width: 17rem;
    }

    p {
      font-family: "M PLUS 1p";
      font-size: 1.6rem;
      font-weight: 700;
      color: white;
      width: 11.2rem;
      margin-left: 1.9rem;
      padding-top: 1rem;
    }
  }

  .p-main-title-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
  }

  .p-burger-information {
    display: flex;
    flex-direction: column;
    align-items: center;

    .p-burger-information-text {
      width: per(757, 834);
      font-family: "M PLUS 1p";
      color: $color--darkGray;
      padding-top: per(39, 834);

      h3 {
        font-size: 3.6rem;
      }

      p {
        font-size: 1.6rem;
        margin-top: 2rem;
      }
    }
  }
}

@include breakpoint(pc) {
  .l-main {
    grid-area: main;
  }
  
  .p-main-title {
    height: calc(530px * (155.3rem / 1553px));
    background-image: url(../img/mainvisual-pc.jpg);
  
    h2 {
      font-size: 4rem;
      margin-left: per(86, 1553);
    }
  }

  .p-main-title.archive {
    display: flex;
    height: 23.9rem;
  }

  .p-burger-information {
    
    .p-burger-information-text {
      width: per(1353, 1553);
      padding-top: per(63, 1553);
    }
  }
}